
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Dat.Mov</title>
    <link rel="stylesheet" href="/assets/css/landing.css">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body class="bg">
    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="us\Black_And_White_Modern_Theatre_Logo_2.png" alt="" class="logo-img"></a>
            
        </div>
        <div class="nav-content">
            <!-- <div class="nav-content1">
                <a href="home.html" class="nav-text"><p>Home</p></a>
             
                <a href="#footer" class="nav-text"><p>Contact</p></a>
               
            </div> -->
            <div class="nav-acc">
                                    
                    <a href="/" class="nav-text"><p>Home</p></a>
                    <a href="#footer" class="nav-text"><p>Contact</p></a>
                    <a href="/login" class="nav-text"><p>Login</p></a>
                    <a href="/register"><p class="create">Create an account</p></a>
               
            </div>
        </div>
        

    </nav>
    <div class="header">
        <span>
            <div class="header-head">
                <div class="header-icon">
                    <!-- <img class="logo" src="us\Black_And_White_Modern_Theatre_Logo_2.png" alt="">
                    <a href="log.html"><h3>LOG IN</h3></a> -->
                </div>
                <div class="header-tag">
                    <h5>YOUR  ENTERTAINMENT  IS  OUR  PRIORITY</h5>
                </div>
            </div>
            <div class="header-body">
                <!-- <img class="bundle-img" src="w.png" alt="WOW!"> -->
                <h3>Get Everything you love,just<br>Search & watch</h3>
                <button><a href="/">EXPLORE NOW</a></button>
                <p>Terms and condition apply</p>
                <h4>Sign up for Dat.mov</h4>
            </div>
            <div class="header-ribbon">
                
            </div>
        </span>
    
    </div>
    <div class="container">

        <div class="container-desc">
            <h4>ENTERTAINMENT KIIIIIIIII GURANTEE</h4>
            <h1>All The TV You Love</h1>
            <p>Watch  exclusively clips of streaming series, current-season episodes, hit movies, <br>kids shows, and more.</p>
        </div>
        <div class="container-card">
            <div class="card-session">
                <div class="card">
                <img src="https://m.media-amazon.com/images/M/MV5BMTM4OGJmNWMtOTM4Ni00NTE3LTg3MDItZmQxYjc4N2JhNmUxXkEyXkFqcGdeQXVyNTgzMDMzMTg@._V1_FMjpg_UX1000_.jpg" alt="">
                <div class="card-badges">
                    <p>Past & Current Seasons</p>
                    <h2>TV Shows</h2>
                </div>
            </div>
            <div class="card">
                <img src="https://m.media-amazon.com/images/I/91e4IzkgrKL.jpg" alt="">
                <div class="card-badges">
                    <p>New & Classic</p>
                    <h2>Movies</h2>
                </div>
            </div>
            </div>
            
            <div class="card-session">
                <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/en/8/80/Dilwale_Dulhania_Le_Jayenge_poster.jpg" alt="">
                <div class="card-badges">
                    <p>Groundbreaking</p>
                    <h2>Bollywood</h2>
                </div>
            </div>
            <div class="card">
                <img src="https://collider.com/wp-content/uploads/2018/06/the-nun-poster.jpg" alt="">
                <div class="card-badges">
                    <p>Add-on</p>
                    <h2>Horrors</h2>
                </div>
            </div>
            </div>
            
            
        </div>
            <!-- <p class="card-desc">Premium network add-ons available for an additional cost</p> -->
        <div class="intro">
            <h5>CLIPS (WITH NO ADS) </h5>
            <h1>Review First & Watch Better Movies</h1>
            <p>Whether you're a fan of action, romance, comedy, sci-fi, or any other genre, our movie streaming website has something for everyone. We regularly update our library with new releases and timeless classics, so you'll never run out of options.</h6>

            <a href=" "><h4>VIEW CHANNELS IN YOUR AREA →</h4></a>
            <!-- <h3>&#8744;</h3> -->
        </div>
        <div class="livesports">
            <div class="livesports-tabs">
                <h4 class="tab1">TRAILERS</h4>
                <h4 class="tab2">TEASERS</h4>
                <h4 class="tab2">CLIPS</h4>
            </div>
       
            <h1>Trailers and clips</h1>
            <p>Join our community of movie enthusiasts today and embark on a cinematic journey like no other. Sit back, relax, and let our movie streaming website be your go-to destination for unlimited entertainment.</p>
            
            
        </div>
        
    </div>
    <div class="footer" id="footer">
        <div class="box-container">
            <div class="box"> 
                    <a href="/" class="foot-logo">
                    <img src="us\Black_And_White_Modern_Theatre_Logo_2.png" alt="" class="logo-img">
                    <!-- <span>dhwani</span> -->
                    </a> 
                <p>COPYRIGHT ©2023 ALL RIGHTS RESERVED.</p>
                <div class="share">
                    <a href="#" class="foot-icon"><i class=" foot-icons fab fa-facebook"></i></a>
                    <a href="#" class="foot-icon"><i class=" foot-icons fab fa-twitter"></i></a>
                    <a href="#" class="foot-icon"><i class=" foot-icons fab fa-instagram"></i></a>
                    <a href="#" class="foot-icon"><i class=" foot-icons fab fa-linkedin"></i></a>
                </div>
            </div>
    
            <div class="box">
                <h3>Contact info</h3>
                <a href="#" class="links"> <i class="fas fa-phone"></i> +123-456-7890 </a>
                <a href="#" class="links"> <i class="fas fa-phone"></i> +111-222-3333 </a>
                <a href="#" class="links"> <i class="fas fa-envelope"></i> datmov69@gmail.com</a>
                <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Siliguri, India - 734001 </a>
            </div>
    
            <div class="box">
                <h3>Quick links</h3>
                <a href="/" class="links"> <i class="fas fa-arrow-right"></i> Home </a>
                <!-- <a href="#about" class="links"> <i class="fas fa-arrow-right"></i> About Us </a> -->
                <a href="/login" class="links"> <i class="fas fa-arrow-right"></i> Log in </a>
                
            </div>
        </div>
    </div>
</body>
</html>